---
import BaseLayout from '../layouts/BaseLayout.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import { Image } from 'astro:assets';
import astroDark from '../images/astro-logo-dark.svg';

const titleTag = "About our Website";
const metaDescription = "Use Astro.js to build websites with lightning speed and ace page speed metrics from various vendors like PageSpeed Insights and GTMetrix";

const testimonialTitle = "What Our Customers Say";
const testimonialSubtitle = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
---

<BaseLayout titleTag={titleTag} metaDescription={metaDescription}>

	<div class="bg-(--wc-blue) flex flex-col w-full md:min-h-150 pt-25">

		<div class="flex flex-col md:flex-row w-full max-w-400 m-auto">

			<div class="w-full md:w-1/2 flex flex-col justify-center p-8">

				<h1 class="font-sans text-lg text-white max-w-150">About Us</h1>
				<p class="font-sans text-3xl md:text-4xl lg:text-6xl text-white max-w-150">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

			</div>

			<div class="hidden md:w-1/2 md:flex flex-col justify-center items-end p-8">
				<Image src={astroDark} alt="A rocket taking off" class="w-4/5 bg-white p-8 rounded-[50px]" />
			</div>
		</div>
		

	</div>

	<div class="bg-neutral-100 flex flex-col w-full py-20">

		<TestimonialSection title={testimonialTitle} subtitle={testimonialSubtitle} />

	</div>

	<div class="bg-neutral-100 flex flex-col w-full md:min-h-150">

		<div class="flex flex-col md:flex-row w-full max-w-400 m-auto">

			<div class="hidden md:w-1/2 md:flex flex-col justify-center items-center p-8">
				<!-- <Image src={} alt="Men carrying a puzzle" class="w-4/5 bg-white" /> -->
			</div>

			<div class="w-full md:w-1/2 flex flex-col gap-6 justify-center p-8">
				<h2 class="font-sans text-2xl md:text-4xl text-(--wc-blue) max-w-150">Consectetur adipiscing elit ut enim ad minim</h2>
				<p class="font-sans text-xl text-black max-w-150">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a class="self-start font-sans text-xl text-white bg-(--wc-blue) hover:bg-(--dk-blue) py-2 px-4 rounded shadow-xl transition-all duration-300 ease" href="/about/">Learn More</a>
			</div>
			
		</div>		

	</div>

	

</BaseLayout>