---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout titleTag={frontmatter.title} metaDescription={frontmatter.description}>

  <div class="bg-(--wc-blue) flex flex-col w-full md:min-h-150 py-25">

    <div class="flex flex-col md:flex-row w-full max-w-400 m-auto">

        <div class="w-full md:w-1/2 flex flex-col justify-center p-8 gap-4">

          
          <h1 class="font-sans text-3xl md:text-4xl lg:text-6xl text-white max-w-150">{frontmatter.title}</h1>
          <p class="font-sans text-white">Written by {frontmatter.author}</p>

          <div class="flex flex-row flex-wrap gap-4">
              {frontmatter.tags.map((tag: string) => (
                <a class="p-4 rounded-xl text-sm text-white bg-(--dk-blue)" href={`/tags/${tag}`}>{tag}</a>
              ))}
          </div>

        </div>

    </div>	

  </div>  

  <div class="bg-neutral-100 flex flex-col w-full md:min-h-150 mb-20">

		<div class="flex flex-col md:flex-row w-full max-w-400 m-auto p-8">

      <div class="flex flex-col w-4/5 gap-4">
        <slot />
      </div>

      <div class="flex flex-col w-1/5 gap-4">
        <p>Related Posts</p>
      </div>
			
			
		</div>		

	</div>

  

</BaseLayout>